<section> 
 <ul>
   <% @entities.each do |entity| %>
     <li><%= entity[0].name %></li>
   <% end %>
 </ul>
 <%= link_to 'Add new transaction', entities_new_path(prev_data: ' ', prev_data_two: 0), class: 'add_category_btn' %>
</section>
