<div class="logo_div"><%= show_svg('logo.svg') %></div>
<%= link_to "Log in", new_user_session_path(), class: 'to_log_in_btn' %>
<%= link_to "Sign up", new_user_registration_path(), class: 'to_sign_in_btn' %>